@import url('https://fonts.googleapis.com/css2?family=Muli&display=swap');

* {
  box-sizing: border-box;
  /* border: solid #5B6DCD 1px; */
}

body {
  background-color: #cdd3ec;
  background-image: linear-gradient(to bottom, #cdd3ec 0%, #cdd3ec 50%,
  #283565 50%, #283565 100% );
  font-family: 'Muli', 'san-serif';
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}